$loading-indicator-color: #333;

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.pulse {
  @include circle(2.5rem);

  animation: sk-scaleout 1s infinite ease-in-out;
  background-color: $loading-indicator-color;
  margin: 6.25rem auto;
}

.light {
  margin: 0;
  width: 1rem;
  height: 1rem;
}
