{
  "plugins": [
    [
      "react-intl-krzkaczor",
      {
        "messagesDir": "./intl/messages/"
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-syntax-dynamic-import", { "legacy": true }]
  ],
  "presets": ["@babel/preset-typescript", "@babel/react"]
}
