$shadow-bottom-black: 0 2px 4px 0 rgba(0, 0, 0, .1);
$shadow-bottom-black-light: 0 2px 4px 0 rgba(0, 0, 0, .1);
$shadow-bottom-black-long: 0 3px 1px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .16), 0 3px 8px 0 rgba(0, 0, 0, .15);

$shadow-bottom-white: 0 2px 4px 0 rgba(255, 255, 255, .1);
