$spacing-vertical-sm-1: 10px;
$spacing-vertical-sm-2: 20px;
$spacing-vertical-sm-3: 30px;
$spacing-vertical-sm-4: 40px;

$spacing-vertical-lg-1: 20px;
$spacing-vertical-lg-2: 30px;
$spacing-vertical-lg-3: 40px;
$spacing-vertical-lg-4: 50px;
$spacing-vertical-lg-5: 90px;

$authorized-layout-horizontal-padding-lg: 30px;
$authorized-layout-vertical-padding-lg: 30px;
$authorized-layout-horizontal-padding-sm: 15px;
$authorized-layout-vertical-padding-sm: 15px;

$authorized-layout-vertical-padding-lg: 20px;
$authorized-layout-vertical-padding-sm: 10px;

$authorized-menu-width-lg: 140px;
$authorized-menu-width-sm: 65px;
