$tooltip-max-width: px-to-rem(340px);
$tooltip-bg: $neu-charcoal-grey;
$tooltip-arrow-color: $neu-charcoal-grey;
$tooltip-opacity: 1;
$tooltip-padding-y: 1rem;
$tooltip-padding-x: 1rem;
$tooltip-margin: px-to-rem(8px);
